.feedContainer {
    padding-bottom: 60px;
    // background-color: $branco;


    .postagem {
        margin-top: 12px;
        .avatar {
            height: 32px;
            width: 32px;
            margin-right: 8px;
        }


        .cabecalhoPostagem {
            display: flex;
            align-items: center;
            padding: 0 12px;
            margin-bottom: 8px;

            strong {
                font-size: 12px;
                color: $cinza04;
            }
        }

        .fotoPostagem {
            img {
                width: 100%;
                height: auto;
                max-height: 360px;
                object-fit: cover;
            }
        }

        .rodapeDaPostagem {
            padding: 5px 16px;
            color: $cinza04;

            strong.nomeUsuario {
                font-size: 12px;
                float: left;
                margin-right: 4px;
            }

            p.descricao {
                font-size: 12px;
                font-family: $fontLight;
                margin: 0 0 2px;

                .exibirDescricaoCompleta{
                    font-size: 12px;
                    color: $corPrimaria03;
                    margin-left: 4px;
                    font-family: $fontRegular;
                    cursor: pointer;
                }
            }

            .acoesDaPostagem {
                display: flex;
                align-items: center;
                margin-bottom: 6px;

                > span {
                    margin-right: 7px !important;
                }


                .quantidadeDeCurtidas {
                    font-family: $fontLight ;
                    font-size: 10px;
                    display: flex;
                    gap: 3px;

                    strong {
                        font-size: 10px;

                    }

                }
            }

            .comentariosDaPostagem{
                max-height: 100px;
                overflow-y: auto;
                margin-top: 10px;
            }
        }

        .containerFazerComentario {
            display: flex;
            align-items: center;
            padding: 0 12px;
            margin-bottom: 16px;
            max-height: 100px;

            textarea{
                resize: none;
                flex: 1;
                max-width: 100%;
                border: none;
                outline: none;
                font-size: 12px;
                color: $cinza02;
            }

        }
    }


@media screen and (min-width: $desktopBreakpoint) {
    padding-top: 8px;
    margin-top: 0px;


    .postagem {
        border-radius: 10px;
        background-color: $branco;
        padding: 5px 0;
        box-sizing: border-box;
    margin-top: 10px;


        .cabecalhoPostagem{
        cursor: pointer;

        }
        .avatar{
            width: 42px;
            height: 42px;
        }

        .rodapeDaPostagem{
            margin-bottom: 10px;
            .acoesDaPostagem{
                > span {
                    cursor: pointer;
                }
            }
        }

        .containerFazerComentario{
            margin-top: 10px;

            .btnPublicacao{
                border: none;
                background-color: transparent;
                color: $corPrimaria;
                outline: none;
                cursor: pointer;
                font-size: 12px;
                
                &:hover{
                    font-family: $fontBold;
                }
            }
        }
    }
}

}