@font-face {
    font-family: 'biennale-regular';
    src: url('biennale-regular.otf') format('opentype');
}

@font-face {
    font-family: 'biennale-bold';
    src: url('biennale-bold.otf') format('opentype');
}

@font-face {
    font-family: 'biennale-light';
    src: url('biennale-light.otf') format('opentype');
}